.nav {
    max-width: 250px;
    height: 100vh;
}

.nav-link:not(:last-child) {
    border-bottom: 1px solid solid rgba(0,0,0,.125);
}

.nav-link:hover {
    background-color: #d6dade;
}

.active {
    background-color: #007bff;
    webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    color: #fff ;
}